@use "@bytebank/ui/variables" as v;

.form {
  width: 500px;
  text-align: left;

  @media screen and (max-width: 920px) {
    width: 100%;
  }

  > div {
    margin: 15px 0;
  }
  .submit_btn {
    text-align: right;
  }
}
