@use "@bytebank/ui/variables" as v;

.form {
  width: 600px;
  text-align: left;

  @media screen and (max-width: 920px) {
    width: 100%;
  }

  > div {
    margin: 15px 0;
  }
  .submit_btn {
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;

    a {
      color: v.$dark_green_default;
      text-decoration: underline;
      font-size: v.$text-base;
    }
  }
}
