@use "@bytebank/ui/variables" as v;

.statLayout {
  background-image: url("/balance-bg.svg");
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 35px;

  @media screen and (max-width: 1024px) {
    background-position: center;
    height: max-content;
    flex-direction: column;
    gap: 50px;
  }
}
