@use "@bytebank/ui/variables" as v;

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  width: 100%;
  @media screen and (max-width: 920px) {
    grid-template-columns: 1fr;
  }

  .side_deco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: v.$dark_green_default;
    padding: 15px 30px;
    color: v.$white_default;
    font-weight: 300;

    @media screen and (max-width: 920px) {
      display: none;
    }

    p {
      &:nth-child(2) {
        font-size: calc(v.$text-lg + 1.2rem);
        font-weight: 100;

        @media screen and (max-width: 1024px) {
          font-size: calc(v.$text-lg + 0.8rem);
        }
      }
      &:nth-child(3) {
        margin-top: 10px;
        font-size: calc(v.$text-lg * 2);
        font-weight: 600;

        @media screen and (max-width: 1024px) {
          font-size: calc(v.$text-lg + 0.8rem);
        }
      }
    }

    .image {
      width: 100%;
      height: max-content;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }

  .auth_form {
    padding: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(v.$white_default, 20%);

    .form_top {
      text-align: center;
      .image {
        height: max-content;
        width: 120px;
      }
      p {
        display: block;
        font-size: v.$text-lg;
        color: v.$grey_font;
        margin: 10px 0;
        font-weight: 600;
      }
    }
  }
}
