@use "@css-variables" as v;

.input_group {
  select,
  ::picker(select) {
    appearance: base-select;
    top: calc(anchor(bottom) + 5px);
    border: v.$sogrey_faded;
    box-shadow: 0 0 10px v.$sogrey_faded;
    color: v.$grey_font;
  }

  option {
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    background: v.$white_default;
    padding: 10px;
    transition: 0.4s;

    &:checked {
      font-weight: bold;
    }

    &::checkmark {
      order: 1;
      margin-left: auto;
      content: "-";
    }

    &:hover {
      cursor: pointer;
      background-color: rgb(v.$sogrey_faded, 40%);
    }
  }

  select {
    padding: 10px;
    transition: ease 0.2s;
    width: 180px;
    color: v.$grey_font;

    &:open::picker-icon {
      transform: rotate(180deg);
    }

    &::picker-icon {
      color: #999;
      transform: rotate(90deg);
      transition: 0.4s rotate;
    }
  }
}
