@use "@bytebank/ui/variables" as v;

.toast {
  width: 300px;
  height: max-content;
  border-radius: 10px;
  box-shadow: 0 0 8px #00000075;
  transition: ease-in 0.2s;

  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;
  margin: 45px;
  padding: 10px;
  color: v.$white_default;

  &:hover {
    cursor: pointer;
    opacity: 90%;
  }
}

.success {
  background-color: v.$green_highlight;
}

.error {
  background-color: v.$red_highlight;
}

.warning {
  background-color: v.$grey_highlight;
}
