@use "@bytebank/ui/variables" as v;

.title {
  font-weight: 600;
}
.lg {
  font-size: v.$text-lg;
}

.md {
  font-size: v.$text-md;
}

.base {
  font-size: v.$text-base;
}

.sm {
  font-size: v.$text-sm;
}
