@use "@bytebank/ui/variables" as v;

.transaction_layout {
  h2 {
    margin-bottom: 15px;
  }
}
.transaction_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 25px 0;

  .row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 15px;
  }

  .end_row {
    margin-top: 15px;
    text-align: end;
  }
}
