@use "@bytebank/ui/variables" as v;

.shortcut_item_group {
  display: flex;
  gap: 15px;

  @media screen and (max-width: 724px) {
    overflow: auto;
    padding: 15px 0;
  }

  .shortcut_item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 15px;
    height: 60px;
    width: max-content;

    border-radius: 8px;
    background-color: v.$white_default;
    box-shadow: 0 0 8px #00000015;
    color: v.$grey_highlight;

    &:hover {
      color: v.$dark_green_default;
    }
  }
}
